body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a0a0a;
    height: 100vh;
    flex-direction: column;
}

h1{
    font-size: 80px;
    color: white;
    filter: drop-shadow(0 0 17px white);
    font-family: sans-serif;

}

button{
    padding : 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    background: white;
    color: black;
    border: none;
    filter: drop-shadow(0 0 17px white);
}

